<div class="card-user-step">
  <div class="d-flex justify-content-between">
    <p><%= l(user_step.created_at, format: "%e %b %Y", locale: 'en') %></p>
    <% if user_step.files.attached? %>
      <%= link_to user_step_path(user_step), data: { turbo_method: :delete, turbo_confirm: "Voulez vous vraiment supprimer ?" } do%>
        <i class="fa fa-trash-can text-secondary"></i>
      <%end %>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <% user_step.files.each do |file| %>
      <li class="list-group-item">
        <iframe src=<%= "https://docs.google.com/gview?url=#{file.url}&embedded=true" %>></iframe>
      </li>
      <li class="list-group-item">
        <%= link_to file.url, target: "_blank", class: "text-secondary", download: file.blob.filename.to_s do %>
          <%= file.blob.filename.to_s %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% unless user_step.files.attached? %>
    <%= simple_form_for(user_step) do |f| %>
      <%= f.input :files, label: "Fichiers", as: :file, input_html: { multiple: true } %>
      <div class="d-flex justify-content-center">
        <%= f.submit 'Sauvegarder', class: "btn btn-gradient" %>
      </div>
    <% end %>
  <% end %>
</div>
