<div class="step-cards">
  <div class="step-card-left p-3">
    <div class="bg-white p-3 rounded-4">
      <% if @step.user == current_user %>
      <div class="d-flex justify-content-end">
        <%= link_to step_path(@step), data: { turbo_method: :delete, turbo_confirm: "Voulez vous vraiment supprimer #{@step.name}?" } do %>
          <i class="fa fa-trash-can text-secondary"></i>
        <% end %>
      </div>
      <% end %>

      <% if @step.picture.nil? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/daixhq5r5/image/upload/v1669820915/enfants_uej7fr.png)">
         <h2><%= @step.name %></h2>
        </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @step.picture %>)">
         <h2><%= @step.name %></h2>
        </div>
      <% end %>
      <p class="card-text p-3"><%= @step.content.html_safe %></p>
      <% if @step.files.attached? %>
        <ul class="list-group">
          <% @step.files.each do |file| %>
            <div class='card m-3'>
              <% if file.image? %>
                <div class="card-header scrollable">
                  <%= cl_image_tag file.key %>
                </div>
              <% else %>
                <div class='card-header'>
                  <iframe src=<%= "https://docs.google.com/gview?url=#{file.url}&embedded=true" %>></iframe>
                </div>
              <% end %>
              <div class='card-body'>
                <%= link_to file.url, target: "_blank", class: "text-secondary", download: file.blob.filename.to_s do %>
                  <%= file.blob.filename.to_s %>
                <% end %>
              </div>
            </div>
          <% end %>
        </ul>
      <% elsif @step.url_files.present? %>
      <ul class="list-group">
          <% @step.url_files.each do |file| %>
            <div class='card m-3'>
              <div class="card-header">
                <iframe src=<%= "https://docs.google.com/gview?url=#{file[:url]}&embedded=true" %>></iframe>
              </div>
              <div class='card-body'>
                <%= link_to cl_image_path(file[:url]), target: "_blank" do %>
                  <%= file[:name] %>
                <% end %>
              </div>
            </div>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="step-card-right user-steps-container rounded-4" data-controller="popover">
    <%= link_to step_user_steps_path(@step), data: { action: "mouseenter->popover#show mouseleave->popover#hide", turbo_method: :post, turbo_confirm: "Voulez créer un sauvegarde pour #{@step.name}?" }, class: 'card-user-step card-user-step d-flex justify-content-center align-items-center' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <template data-popover-target="content">
      <div data-popover-target="card" class ="card shadow rounded p-3 bg-light text-body">
        <p>Créer une sauvegarde</p>
      </div>
    </template>
    <% @user_steps.each do |user_step| %>
      <%= render 'composents/user_step_card', user_step: user_step %>
    <% end %>
  </div>
</div>
