<div class="step-cards">
  <div class="step-card-left p-3">
    <div class="bg-white p-3">
      <% if @step.user == current_user %>
      <div class="d-flex justify-content-end">
        <%= link_to step_path(@step), data: { turbo_method: :delete, turbo_confirm: "Voulez vous vraiment supprimer #{@step.name}?" } do %>
          <i class="fa fa-trash-can text-secondary"></i>
        <% end %>
      </div>
      <% end %>
      <h2 class="text-center mb-3"><%= @step.name %></h2>
      <p class="card-text"><%= @step.content.html_safe %></p>
      <ul>
        <% @step.files.each do |file| %>
          <li>
            <iframe src=<%= "https://docs.google.com/gview?url=#{file.url}&embedded=true" %>></iframe>
          </li>
          <li>
            <%= link_to cl_image_path(file.key), target: "_blank", download: file.blob.filename.to_s do %>
              <%= file.blob.filename.to_s %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="step-card-right user-steps-container" data-controller="popover">
    <%= link_to step_user_steps_path(@step), data: { action: "mouseenter->popover#show mouseleave->popover#hide", turbo_method: :post, turbo_confirm: "Voulez créer un sauvegarde pour #{@step.name}?" }, class: 'card-user-step card-user-step d-flex justify-content-center align-items-center' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <template data-popover-target="content">
      <div data-popover-target="card" class ="card shadow rounded p-3 bg-light text-body">
        <p>Créer une sauvegarde</p>
      </div>
    </template>
    <% @user_steps.each do |user_step| %>
      <%= render 'composents/user_step_card', user_step: user_step %>
    <% end %>
  </div>
</div>
