<div class="row">
  <div class="col-9 p-3">
    <div class="bg-white p-3">
      <h5 class="text-center mb-3"><%= @step.name %></h5>
      <p class="card-text"><%= @step.content %></p>
      <ul>
        <% @step.files.each do |file| %>
          <li>
            <%= link_to cl_image_path(file.key), download: file.blob.filename.to_s do %>
              <%= file.blob.filename.to_s %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-3 user-steps-container">
    <%= link_to step_user_steps_path(@step), data: { turbo_method: :post, turbo_confirm: "Voulez créer un sauvegarde pour #{@step.name}?" }, class: 'card-user-step card-user-step d-flex justify-content-center align-items-center' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <% @user_steps.each do |user_step| %>
      <%= render 'composents/user_step_card', user_step: user_step %>
    <% end %>
  </div>
</div>
