<!DOCTYPE html>
<html>
  <head>
    <title>Hassist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "https://res.cloudinary.com/daixhq5r5/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1669140921/logo_mqxmwq.jpg" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "composents/navbar" %>
    <% if user_signed_in? %>
      <div class="d-flex">
      <div class="list-width">
        <%= render "composents/list_of_steps", steps: @steps %>
      </div>
        <div class="p-4 flex-grow-1">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <% unless controller_name == 'sessions' %>
      <%= render 'composents/footer' %>
    <% end %>
  </body>
</html>
